body{
background:#0b1220;
color:white;
font-family:Arial;
text-align:center;
}

table{
width:90%;
margin:auto;
border-collapse:collapse;
}

th{
background:#1f3c88;
padding:10px;
}

td{
border:1px solid #444;
padding:8px;
}

.box{
background:#e63946;
padding:15px;
margin:10px;
display:inline-block;
}

button{
padding:10px;
margin:20px;
}

#map{
height:400px !important;
width:90%;
margin:auto;
margin-top:30px;
border:2px solid red;
}

.soc-card{
background:rgba(15,23,42,.85);
border-radius:12px;
padding:15px;
margin:20px auto;
width:90%;
box-shadow:0 0 25px #0ea5e933;
}

.table-scroll{
max-height:250px;
overflow-y:auto;
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:#020617;
position:sticky;
top:0;
padding:10px;
color:#38bdf8;
}

td{
padding:8px;
border-bottom:1px solid #1e293b;
color:white;
}

tr:hover{
background:#020617;
}

/* scrollbar */

.table-scroll::-webkit-scrollbar{
width:6px;
}

.table-scroll::-webkit-scrollbar-thumb{
background:#0ea5e9;
border-radius:10px;
}
